
header{
	font-family: arial, helvetica;
	background: #070b4600;
	background-color: #070b4600;
	border-style: solid;
	border-color: #070b4600;
	border-width: 23px;


	
	

}
.menu img{
	border-width: 10px;

}
.menu{
	list-style: none;
	padding: 0;
	background: #070b46;
	width: 90%;
	max-width: 1000px;
	margin: auto;
	border-style: solid;
	border-width: 15px;
	border-color: rgba(255, 255, 0, 0);
	

}
.menu li a{
	text-decoration: none;
	color: white;
	padding: 20px;
	display: block;

}
.menu li{
	display: inline-block;
	text-align: center;
}
.menu li a:hover{
	background: #eaec41;
}
.menu li a{
	margin-left: 120px;
}
.item{
	float: left;


}
.nacionales{
color: yellow;
}
body{
	background-image: url(bocawall.jpg);

.item
	float: left;
}
.bombo{
display: flex;
justify-content: center;
	width: 150px;
	height: 220px;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;}

.victor{
display: flex;
justify-content: center;
	width: 150px;
	height: 220px;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;	
}


